<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up/Login-ZESCO</title>
 <link rel="stylesheet" type="text/css" href=/css/styles.css>
</head>
<body>
	<div id="welcome" >
	<div id="text">
		<h1>Welcome to ZESCO </h1>
	</div>


<!-- 	<h3><a th:href="@{/list_users}">List All Users</a></h3> -->

	
</div>

<div id="top" >

<!-- 		<a th:href="@{/register}"> -->
<!-- 			<button style="width: 200px" type="button">Register</button> -->
<!-- 		</a> <br> <br> <a th:href="@{/login}"> -->
<!-- 			<button style="width: 200px" type="button">Login</button> -->
<!-- 		</a> -->

			<h2>What woud you like to do?</h2>

			<h3><a th:href="@{/register}">Register</a></h3>
	<h3><a th:href="@{/login}">Login</a></h3>
</div>
</body>
</html>